.gridSection {
	overflow: hidden;
	font-size: 0;
	position: relative;

	.gridContainer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.grids:first-child, .grids:last-child{
			width: 17%;
		}

		.grids {
			width: 22%;
			height: 100%;
			display: inline-block;
			background-color: #fff;
			box-sizing: border-box;
			border-right: 1px solid #eaeaea;
			min-height: 100vh;
		}
	}

	.contentSection {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		// min-height: 100vh;

		.whatWeDo {
			width: 100%;
			max-width: 900px;
			margin: 0 auto 75px auto;


			& span {
				width: 35px;
				height: 3px;
				background-color: #000;
				display: inline-block;
				margin-right: 16px;
			}

			& h3 {
				font-family: 'sofiaproregular';
				font-size: 11px;
				font-weight: 700;
				padding-bottom: 45px;
				padding-top: 80px;
			}

			& p {
				font-family: 'sofiabold';
				font-size: 38px;
				line-height: 1.3;
				padding-left: 49px;
				color: #000;
			}

			& .whatButton {
				font-family: 'sofiaproregular';
				margin-top: 45px;
				margin-left: 48px;
				font-size: 12px;
				padding: 18px 25px;
				color: #000;
				background-color: transparent;
				width: 130px;
				letter-spacing: 0.5px;
			}

			& i {
				margin-left: 18px;
				color: #3baede;
				transform: scaleX(1) rotate(90deg);
				font-size: 21px;
			}
		}

		.servicesList {
			background-color: #fff;
			margin-bottom: 100px;

			.section:first-child{
				border-top: 1px solid #c4c4c4;
			}

			.section {
				width: 80%;
				margin: 0 auto;
				position: relative;
				border-bottom: 1px solid #c4c4c4;
				max-width: 1000px;

				.center {
					width: 60%;
					display: inline-block;
					padding: 80px 0;
					
					p {
						font-size: 16px;
						font-family: 'sofiaproregular';
						padding-top: 35px;
						letter-spacing: -0.3px;
					}
				}

				.rightGrad {
					position: absolute;
					width: 35%;
					right: 0;
					top: 0;
					bottom: 0;
					background: white;
					background: linear-gradient(to right, #4cacff, #ea70ff);
					transform: scaleX(0);
					transform-origin: right;
				}

				.rightShade {
					width: 40%;
					display: inline-block;
					text-align:right;
					box-sizing: border-box;
					padding-right: 40px;
					position: relative;

					.discuss {
						font-size: 32px;
						font-family: sofiabold;
					}

					p {
						font-size: 15px;
						font-family: sofiaproregular;

						span {
							font-family: 'sofiabold';
							font-size: 35px;
							margin: 0 16px;
						}
					}
				}

				h1 {
					font-size: 30px;
					font-family: sofiabold;
					color: #000;
				}
			}
		}
	}
}

.anim {
	transition: all 1s ease;
	opacity: 0;
	transform: translateY(80px);

	&.active {
		transform: translateY(0);
		opacity: 1;
	}
}

.topSectServices {
	height: 100vh;
	width: 100%;
	position: relative;

	& .titleServices {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		z-index: 1;

		& h1 {
			font-size: 110px;
			font-family: 'trump';
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		& p {
			margin-top: 20px;
			font-size: 24px;
			font-family: 'sofialight';
			width: 435px;
			line-height: 1.3;
		}

		& .dash {
			width: 85px;
			height: 7px;
			background-color: blue;
		}

	}

	& .navBarServices {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		color: #fff;
	}
}

.footer .topft .blockRight {
	top: 0%;
	transform: translateX(0);
	opacity: 1;
}

.footer .topft .imgLeft {
	opacity: 1;
	transform: scaleX(1);
}

.footer .topft .blockRight .wrap p {
	padding: 25px 0 60px 0;
}


$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 320px) and (max-width: 768px)";
$desktop: "(min-width: 1400px)";

@media #{$desktop} {
	body {
		.topSectServices .titleServices h1 {
			font-size: 150px;
		}
		.gridSection .contentSection .servicesList .section {
			max-width: 1200px;
		}
		.gridSection .gridContainer {
			max-width: 1600px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

@media #{$tablet} {
	body {
		.gridSection .contentSection .whatWeDo {
			max-width: 670px;
		}
		.gridSection .contentSection .servicesList .section .center {
			width: 55%;
		}
		.gridSection .contentSection .servicesList .section .rightShade {
			width: 45%;
		}
		.gridSection .contentSection .servicesList .section .rightGrad {
			width: 45%;
		}
	}
}

@media #{$mobile} {
	.topSectServices {
		.titleServices {
			position: relative;
			top: auto;
			left: auto;
			transform: translate(0, 0);
			width: 270px;
			margin: 134px auto 0 auto;

			.dash {
				height: 10px;
			}

			h1 {
				font-size: 60px;
			}
			.servicesDesc {
				font-size: 16px;
				width: 100%;
			}
		}
	}
	.servicesInfo {
		.section1serve {
			.sectionTitle {
				width: 121px;
				height: 151px;
			}
			.sectionT {
				font-size: 43px;
			}
			.numStock {
				width: 60px;
				margin: 0 auto;
			}
			.bodyService p {
				width: 80%;
				font-size: 19px;
				max-width: 270px;
			}
		}
		.section2serve {
			.sectionTitle {
				width: 158px;
				height: 142px;
			}
			.sectionT {
				font-size: 43px;
			}
			.numStock {
				width: 80px;
				margin: 0 auto;
			}
			.bodyService p {
				width: 80%;
				font-size: 19px;
				max-width: 270px;
			}
		}
		.section3serve {
			.sectionTitle {
				width: 158px;
				height: 134px;
			}
			.sectionT {
				font-size: 43px;
			}
			.numStock {
				width: 80px;
				margin: 0 auto;
			}
			.bodyService p {
				width: 80%;
				font-size: 19px;
				max-width: 270px;
			}
		}
		.section4serve {
			.sectionTitle {
				width: 165px;
				height: 134px;
			}
			.sectionT {
				font-size: 43px;
			}
			.numStock {
				width: 80px;
				margin: 0 auto;
			}
			.bodyService p {
				width: 80%;
				font-size: 19px;
				max-width: 270px;
			}
		}
	}
}